:root {
    --formValid: green;
    --formInvalid: red;
    --buttonColor: green;
  }

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}

header {
    background-color:blue;
    color:#fff;
    margin:0px auto;
    border-bottom:solid 1px #fff;
}

header .inner-container {
    text-align:center;
}

header img {
    border:solid 1px #fff;
    padding:1px; 
    vertical-align:middle;
    max-width:70%;
    margin:10px 0px; 
}

nav {
	background-color: blue;
	margin: 0 auto;
}
nav ul {
	list-style-type: none;
    margin-top:0px;
    padding-left:0px;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

nav .active {
	color: yellow;
}

.inner-container {
    margin:0px auto;
    max-width:1100px;
    width:auto;
}

footer {
    background-color:blue;
    padding:7px 0px;
    margin-top:10px;
    text-align:center;
    color:#fff;
}

/* Hamburger Menu */
nav > ul { display:none; }
nav > ul.open { display:block; }

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top:1em;
	right:0em;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
	font-size:16px;
	font-weight:bold;
}

.toggleMenu {
    text-align:right;
}

#gameboardContainer > div {
    display:inline-block;
    margin:10px;
    max-width:234px;
    width:234px;
    height:333px;
    position:relative;
}

#gameboardContainer > div img {
    max-width:234px;
    width:234px;
    height:100%;
    border-radius:10px;
}

#gameboardContainer > div img.unmatched {
    cursor:pointer;
}

#gameboardContainer > div img.flipStart {
    animation-duration: 2s;
    animation-name: flipOverStart;
    transform-origin: center;
}

@keyframes flipOverStart {
    from { transform:scale(1); opacity:1; }
    to { transform:scale(0.5); opacity:0; }
}

#gameboardContainer > div img.flipEnd {
    animation-duration: 2s;
    animation-name: flipOverEnd;
    transform-origin: center;
}

@keyframes flipOverEnd {
    from { transform:scale(0.5); opacity:0; }
    to { transform:scale(1); opacity:1; }
}

#gameboardContainer > div img.matched {
    animation-duration: 2s;
    animation-name: fadeOutMatch;
    animation-fill-mode: forwards;
}

@keyframes fadeOutMatch {
    from { opacity:1; }
    to { opacity:0; }
}