:root {
    --formValid: green;
    --formInvalid: red;
    --buttonColor: green;
    --animationSpeed: 2s;
  }

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}

header {
    background-color:blue;
    color:#fff;
    margin:0px auto;
    border-bottom:solid 1px #fff;
}

header .inner-container {
    text-align:center;
}

header img {
    border:solid 1px #fff;
    padding:1px; 
    vertical-align:middle;
    max-width:70%;
    margin:10px 0px; 
}

nav {
	background-color: blue;
	margin: 0 auto;
    font-size:2em;
    padding: 1rem;
}
nav ul {
	list-style-type: none;
    margin-top:0px;
    padding-left:0px;
    margin-bottom:0px;
}
nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

nav ul li:nth-child(3) {
    text-align:right;
    cursor:pointer;
}

nav a:hover {
	color: #000;
}

nav .active {
	color: yellow;
}

.inner-container {
    margin:0px auto;
    max-width:1100px;
    width:auto;
}

footer {
    background-color:blue;
    padding:7px 0px;
    margin-top:10px;
    text-align:center;
    color:#fff;
}

/* Hamburger Menu */
nav > ul { display:none; }
nav > ul.open { display:block; }

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top:1em;
	right:0em;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
	font-size:16px;
	font-weight:bold;
}

.toggleMenu {
    text-align:right;
}

#gameboardContainer > div {
    display:inline-block;
    margin:10px;
    max-width:234px;
    width:234px;
    height:333px;
    position:relative;
}

#gameboardContainer > div img {
    max-width:234px;
    width:234px;
    height:100%;
    border-radius:10px;
    border:solid 3px #ddd;
}

#gameboardContainer > div img:hover {
    border:solid 3px green;
}

#gameboardContainer > div img.flipped,
#gameboardContainer > div img.flipped:hover {
    border:none;
}

#gameboardContainer > div img.unmatched {
    cursor:pointer;
}

#gameboardContainer > div img.flipStart {
    animation-duration: var(--animationSpeed);
    animation-name: flipOverStart;
    transform-origin: center;
}

@keyframes flipOverStart {
    from { transform:scale(1); opacity:1; }
    to { transform:scale(0.5); opacity:0; }
}

#gameboardContainer > div img.flipEnd {
    animation-duration: var(--animationSpeed);
    animation-name: flipOverEnd;
    transform-origin: center;
}

@keyframes flipOverEnd {
    from { transform:scale(0.5); opacity:0; }
    to { transform:scale(1); opacity:1; }
}

#gameboardContainer > div img.matched {
    animation-duration: var(--animationSpeed);
    animation-name: fadeOutMatch;
    animation-fill-mode: forwards;
}

@keyframes fadeOutMatch {
    from { opacity:1; }
    to { opacity:0; }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
  }

  @media screen and (max-width: 700px){
    .box{
      width: 80%;
    }
    .popup{
      width: 80%;
    }
  }

  #menuMain ul {
    margin-left:0px;
  }

  #mainMenu {
    color:#000;
  }
  #mainMenu:hover {
    color:#fff;
  }

  #menuMain, #menuMain a, #menuMain a:link, #menuMain a:visited {
    font-size:1.5em;
    color:inherit;
    text-decoration:none;
  }

  #menuMain li, #menuSettings form > div {
    border:solid 1px #666; padding:10px; width:80%; margin:5px; display:block;
    background-color:#ddd;
    border-radius:5px;
    margin:10px auto;
  }

  #menuMain li:hover, #menuSettings form button:hover, #menuFinalScore button:hover {
    border:solid 1px #000;
    background-color:blue;
    color:#fff;
    cursor:pointer;
  }

  #menuMain a:hover {
    color:#fff;
  }

  #menuSettings {
    font-size:2em;
  }

  #menuSettings label {
    width:300px;
    display:inline-block;
  }

  #menuSettings form > div {
    margin:10px;
  }

  #menuSettings form {
    margin:0px auto;
    text-align:center;
  }

  #menuSettings form button {
    width:50%; padding:10px;
    border-radius: 10px;
    margin:20px auto;
  }

  #menuFinalScore {
    text-align:center;
    font-size:2em;
    color:#000;
  }

  #menuFinalScore span {
    font-size:3em;
    margin-bottom:20px;
    display:block;
  }

  #menuFinalScore button {
    border-radius:10px;
    padding:10px;
    margin-bottom:20px;
  }
